FRAME_ENDPOINT=http://127.0.0.1:8090/api/frame.jpg?quality=95
FRAME_FPS=5
SNAPSHOT_SLOTS=4
SNAPSHOT_MINIMUM_BYTES=4096
DETECTOR_BACKEND=onnxruntime
OCR_ENDPOINT=http://127.0.0.1:5002/ocr
OCR_ROTATION=90
OCR_REGION_TOP=0.13
OCR_REGION_BOTTOM=0.60
OCR_DOCUMENT_LONG_SIDE=3200
OCR_TILE_MAX_ASPECT=2.0
OCR_TILE_OVERLAP_RATIO=0.15
OCR_TILE_MAX_COUNT=2
OCR_REFINEMENT_MAX_REGIONS=0
STABLE_SECONDS=0.5
BURST_FRAMES=2
